body {
  background-image: url("https://wallpapertag.com/wallpaper/middle/c/2/5/198277-top-gym-background-2048x1430-for-hd-1080p.jpg");
  background-size: 100%;
  border: 2px solid black;
  padding: 50px;
}

.background {
  background: #1B1C1D;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  width: auto;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.9;
}

.title {
  text-align: center;
  font-size: 10em;
  color: #0099cc;
  font-family: 'Bree Serif', serif;
}

.topsub {
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  padding-top: 20px;
  font-family: 'Catamaran', sans-serif;
}

.sub {
  text-align: center;
  font-weight: normal;
  padding-bottom: 20px;
  font-family: 'Catamaran', sans-serif;
}

.card {
 text-align: center;
 background-color: #d9d9d9;
 color: #1B1C1D;
 border: grey solid 1px;
 display: inline-grid flex;
 margin: 10px auto 10px auto;
 box-shadow: 2px 3px #0099cc;
 padding-top: 10px;
 padding-bottom: 10px;
 width: 40rem;
 align-items: center;
 justify-content: center;
 opacity: 1;
}

.subtitle {
  text-align: center;
  color: #0099cc;
  text-decoration: overline underline;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: normal;
  opacity:1;
  font-family: 'Asap', sans-serif;
}

.create-workout-card {
  text-align: center;
  border: grey solid 1px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 3px 4px;
  background-color: #d9d9d9;
  color: #1B1C1D;
  opacity: 1;
}

.exercises-div {
  padding-bottom: 10px;
}

.exercise-photo {
 justify-self: center;
 height: 5rem;
 width: 5rem;
 float: left;
 opacity: 1;
}

.description {
  height: 8rem;
  overflow-y: auto;
}

.exercise-card {
  text-align: center;
  border: grey solid 1px;
  width: 15rem;
  height: 15rem;
  display: inline-grid;
  box-shadow: 3px 4px;
  background-color: #d9d9d9;
  color: #1B1C1D;
  opacity: 1;
}

.inner-card {
  text-align: center;
  border: grey solid 0.5px;
  width: 10rem;
  height: 10rem;
  display: inline-grid;
  background-color: #FFFFFF;
  color: #1B1C1D;
  opacity: 1;
}
